

/* CSS global */

*{
    box-sizing: border-box;
}

html{
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(image/cat-background.jpg);
    background-size: 25%;
}

a{
    text-decoration: none;
    text-transform: none;
    color: #ee8e4e;
}
a:hover{
    color: #793b12;
}

.button{
    padding: 5px;
    border: 2px solid rgb(243, 47, 106) ;
    border-radius: 16px;
}


/* CSS du header */

header{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: cadetblue;
    box-shadow: 0 0 10px rgb(56, 69, 70), 0 0 20px rgb(186, 230, 233);
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 5%;
    margin: 8px;
}
nav>ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 0;
    list-style: none;
    width: 33%;
    font-size: 15px;
}
nav>ul>*{
    margin: 7px;
}

.Logo{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Tlogo{
    margin: 0;
    color: rgb(243, 47, 106);
    text-shadow: none;
    font-size: 20px;
}


/* CSS de la section "Main" */

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 25px 8%;
    height: 100%;
    margin-top: 8.7%;
    background-color: rgb(186, 230, 233);
    padding: 20px 20px 20px 20px;
}
.main2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    margin: 25px 8%;
    height: 100%;
    margin-top: 8.7%;
    background-color: rgb(186, 230, 233);
    padding: 20px 20px 20px 20px;
}
.arboressance{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
}
.arboressance>*{
    margin: 10px;
}
.arboressance a>h2{
    padding: 5px;
    border: 2px solid rgb(243, 47, 106) ;
    border-radius: 16px;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}
.titre{
    margin-block-start: 20px;
    color: rgb(199, 28, 79);
    font-size: 35px;
}

.Projets{
    margin: 0.1px 20px 8px 0px;
    width: fit-content;
    height: fit-content;
    padding: 0.1px 20px 20px 20px;
    background-color: rgb(157, 199, 201);
    font-size: 18px;
}
.titreP{
    margin-block-start: 20px;
    color: rgb(199, 28, 79);
    font-size: 25px;
}
.Projets>ul{
    list-style: none;
    margin-right: 5px;
    padding-inline-start: 30px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}


/* CSS du footer */

footer{
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(95, 158, 160, 0.753);
}

/* CSS de test */

.redBox{
    width: 50px;
    height: 50px;
    background-color: red;
    box-shadow: 0 0 10px rgb(56, 69, 70);
    margin: 20px;
}


.flex{
    display: flex;
    align-items: center;
    flex-direction: column;  
}

.arboressance p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}