
form{
    position:relative;
    background-color:  #568dbb;
    width: 50%;
    text-align: center;
    border-radius: 0%/0%;
    margin: auto;
}
form>label{
    color: white;
    padding: 2%;
}

.menu>li>a{
	font-size: 20px;
	text-decoration: none;
	color: white;
}

form>input{
    margin: 1%;
}
form>select{
    margin: 1%;
}